*{
    font-family: "Inter", sans-serif;
    
    color: #fff;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #121212;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
   

.content{

    display: grid;
  height: 100vh;
  background-color: #121212;
  grid-template-columns: 3fr 1fr;
    

}
.game-title{
    font-weight: bold;
    display: flex;
    padding: 20px;
    align-items: center;
    height: 100px;
    font-size: 50px;
    margin-bottom: 20px;
}
.game-logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-container{
    padding: 20px 20px; 
    /* display: flex;
    flex-direction: row; */
     
    
}

.left-container img{
    width: auto;
    height: 600px;
   
    object-fit: cover;
    border-radius: 5px;
}
.game-description{
    padding: 15px;
    line-height: 1.5;
    margin-top: 20px;
}

.gametags{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right-container{
    margin-left: 40px;
    /* display: flex;
    justify-content: center;    */
}
.right-container img{
    width: 280px;
}
   
.info-table{
    width: 100%;
}
.info-table >tbody > tr{
    border-bottom: solid 0.5px;
    border-bottom-color: rgba(255, 255, 255, 0.1);
}
.info-table >tbody > tr > td:nth-child(1){
    color: gray;
    font-size: 16px;
    font-weight: 400;
}
.info-table >tbody > tr > td:nth-child(2){
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

